.room {
    --dimensions: 23;
    --wall-width: 0.15rem;

    width: calc(min(100vw, 100vh) / var(--dimensions));
    height: calc(min(100vw, 100vh) / var(--dimensions));
    margin: 0;
    box-sizing: border-box;
    border-top: 1px solid;
    border-right: 1px solid;
    padding: 0;
    position: relative;
}