.room {
    width: calc(100vw / var(--dimensions) - 1px);
    height: calc(100vh / var(--dimensions) - 1px);
    margin: 0;
    box-sizing: border-box;
    border-top: 1px solid;
    border-right: 1px solid;
    padding: 0;
    position: relative;

    --dimensions: 23;
    --wall-width: 0.15rem;
}
.side {
    position: absolute;
    &.North {
        top: 0;
        left: 0;
        width: 100%;
        height: var(--wall-width);
    }
    &.South {
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--wall-width);
    }
    &.East {
        top: 0;
        right: 0;
        width: var(--wall-width);
        height: 100%;
    }
    &.West {
        top: 0;
        left: 0;

        
        width: var(--wall-width);
        height: 100%;
    }
    &.wall {
        background: blue;
    }
    &.door {
        background: red;
    }
}