@keyframes pulse {
    0% {
        width: 0.95rem;
        height: 0.95rem;
    }
    100% {
        width: 1.05rem;
        height: 1.05rem;
    }
}

#engagement, #target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    font-family: Helvetica;
    padding: 2rem;
    z-index: 10;
}

#target {
    height: 10vh;
    width: 30%;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#engagement {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    > button {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: calc(95% - 2rem);
        top: 5%;
    }

    article {
        width: 90%;
        height: 90%;
        background: whitesmoke;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        iframe {
            border: none !important;
            outline: none !important;
            background: white !important;
        }
    }
}

#loading-screen  {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url(/loading.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: blue;

    .loading-dot {
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        background: white;
    }
}

#user-position-marker {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: blue;
    border-radius: 100%;
    left: 0;
    top: 0;
    // animation: .5s infinite alternate pulse;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    font-family: Andale Mono;
    padding: 0.2rem;
    box-sizing: border-box;
    z-index: 2;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    left: calc(100% - 7.5rem);
    top: -2.5rem;
    background: maroon;
    overflow: hidden;

    div {
        display: flex;
        align-items: space-around;
        padding: 0.25rem 0.25rem 0.25rem 0.85rem;
        &:first-of-type {
            margin-top: 1.5rem;
        }
        #map-icon {
            width: 2rem;
            height: 1rem;
            background: url(/map.png);
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: -0.5rem;
        }
        a {
            text-align: left;
            font-size: 0.8rem;
            text-indent: 0.25rem;
            &:hover {
                cursor: pointer;
                color: #EBEDEF;
            }
        }
        span {
            color: white;
        }
    }

    
}