<div *ngFor="let room of maze.rooms; trackBy: trackById"
  (mousemove)="setCursor($event)">
  <room [room]="room"></room>
</div>

<i #userMarker
  *ngIf="userPosition()" 
  id="user-position-marker">
  ▾
</i>

<div id="header">
  <div 
    [style.width.%]="100"
    [style.width.%]="100"
    [style.display]="'flex'"
    [style.align-items]="'center'">
    <span id="map-icon"></span>
    <a (click)="toggleMap()">{{toggle.map ? 'Hide ' : 'Show '}}Map</a>
    <span
      [style.width.%]="20"
      [style.float]="'right'"
      [style.text-align]="'right'"
      [style.font-size.rem]="2"
    >{{ userSpeed() }}</span>
  </div>
  <div *ngIf="user" [style.width.%]="100">
    <a (click)="toggleFirstPerson()">{{user.firstPerson ? '3rd Person ' : '1st Person '}}</a>
  </div>
  <div [style.paddingLeft.px]="30" [style.width.%]="100">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Position</th>
          <th>Velocity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>x</th>
          <td>{{ userPosition().x.toFixed(1) }}</td>
          <td>{{ userVelocity().x.toFixed(1) }}</td>
        </tr>
        <tr>
          <th>y</th>
          <td>{{ userPosition().y.toFixed(1) }}</td>
          <td>{{ userVelocity().y.toFixed(1) }}</td>
        </tr>
        <tr>
          <th>z</th>
          <td>{{ userPosition().z.toFixed(1) }}</td>
          <td>{{ userVelocity().z.toFixed(1) }}</td>
        </tr>
    </table>
  </div>
</div>

<div id="target" *ngIf="target && cursor.mouse"
  [style.background]="target.background"
  [style.backgroundSize]="'contain'"
  [style.left.px]="cursor.left" 
  [style.top.px]="cursor.top">{{ target.message }}</div>

<div *ngIf="engagement" id="engagement">
  <button id="exit-engagement" (click)="exitEngagement()">X</button>
  <article [innerHTML]="engagement.content" [style.background]="engagement.mapSite.color"></article>
</div>